<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>My Gallery</title>{% endblock %}
  {% load static %}
  <!-- Spectre https://picturepan2.github.io/spectre/index.html -->
  <link rel="stylesheet" href="{% static 'dgallery/css/spectre-0.5.3/dist/spectre.min.css' %}" />
  <link rel="stylesheet" href="{% static 'dgallery/css/spectre-0.5.3/dist/spectre-exp.min.css' %}" />
  <link rel="stylesheet" href="{% static 'dgallery/css/spectre-0.5.3/dist/spectre-icons.min.css' %}" />
  <!-- Custom styles -->
  <link rel="stylesheet" href="{% static 'dgallery/css/style.css' %}" />
</head>

<body>
  {% block carousel %}{% endblock %}
  {% block navbar %}
  <header class="z-navbar">
      <ul class="z-navbar-items">
        <li><a href="{% url 'dgallery:index' %}" class="test-button">Home</a></li>
        <li><a href="{% url 'dgallery:albums' %}" class="test-button">Albums</a></li>
      </ul>
  </header>
  {% endblock %}

  <div class="container">
  {% block content %}{% endblock %}
</div>
  {% block scripts %}{% endblock %}
</body>
</html>
