{% extends "base_generic.html" %}

{% block content %}

{% if album %}
<h3>{{album.name}}</h3>

{% for picture in picture_list %}
    <a href="#"><img src="/media/{{picture.image}}" class="z-picture" /></a>
{% endfor %}

<div class="modal modal-lg" id="modal">
        <div class="modal active" id="modal-id">
            <a href="#close" class="modal-overlay" aria-label="Close"></a>
            <div class="modal-container">
                <div class="modal-header">
                <a href="#close" class="btn btn-clear float-right" aria-label="Close" id="close"></a>
                <div class="modal-title h5">Modal title</div>
                </div>
                <div class="modal-body">
                <div class="content">
                    <!-- content here -->
                    <img src="/media/uploads/2018/08/13/2017-10-04_18.12.04.jpg">
                </div>
                </div>
                <div class="modal-footer">
                <p>TEST Footer</p>
                </div>
            </div>
        </div>
{% else %}
<p>Album not found.</p>
{% endif %}

{% endblock %}

{% block scripts %}
<script>
    var modal = document.getElementById('modal');
    var closeBtn = document.getElementById('close');

    closeBtn.addEventListener('click', function(ev) {
        modal.classList.remove('active');
    });

    var pictures = document.getElementsByClassName('z-picture');
    for(var i = 0; i < pictures.length; i++) {
        pictures[i].addEventListener('click', function(ev) {
            modal.classList.add('active');
        });
    }
</script>
{% endblock %}
