{% extends "base_generic.html" %}
{% load static %}

{% block content %}

{% if album %}
<h3>{{album.name}}</h3>

<div class="columns">
    {% for picture in picture_list %}
        <div class="column col-lg-4 col-sm-6 col-xs-12">
        <a href="#" class="click-me" data-value="/media/{{picture.image}}"><img src="/media/{{picture.image}}" class="img-fit-cover z-album-list-item" /></a>
        </div>
    {% endfor %}

</div>

<div class="z-modal" id="z-modal" />

{% else %}
<p>Album not found.</p>
{% endif %}

{% endblock %}

{% block scripts %}
<script src="{% static 'dgallery/js/image_modal.js' %}"></script>
{% endblock %}
