{% extends "base_generic.html" %}
{% load static %}

{% block content %}

{% if album %}
<h3>{{album.name}}</h3>

<div class="columns col-gapless">
    {% for picture in picture_list %}
        <div class="column col-2">
        <a href="#" class="click-me" data-value="/media/{{picture.image}}"><img src="/media/{{picture.image}}" class="img-fit-cover" width="200px" height="200px" /></a>
        </div>
    {% endfor %}

</div>

<div class="z-modal" id="z-modal" />

{% else %}
<p>Album not found.</p>
{% endif %}

{% endblock %}

{% block scripts %}
<script src="{% static 'dgallery/js/vanilla_test.js' %}"></script>
{% endblock %}
