{% extends "base_generic.html" %}

{% block carousel %}
<div class="carousel z-carousel-poster">

    <div class="z-carousel-container">
        {% for slide in carousel_slide_list %}
        <ul>
            <li></li>
        </ul>
        <!-- <figure class="z-carousel-item">
            <label class="item-prev btn btn-action btn-lg" for="slide-{{slide.previous}}"><i class="icon icon-arrow-left"></i></label>
            <label class="item-next btn btn-action btn-lg" for="slide-{{slide.next}}"><i class="icon icon-arrow-right"></i></label><img class="img-responsive rounded" src="/media/{{slide.image}}" alt="{{slide.image}}}">
        </figure>
    -->
        {% endfor %}
    </div>

    <div class="carousel-nav">
        {% for slide in carousel_slide_list %}
        <label class="nav-item text-hide c-hand" for="slide-{{slide.pk}}">{{pk}}</label>
        {% endfor %}
    </div>
</div>
{% endblock %}
