{% extends "base_generic.html" %}

{% load static %}

{% block carousel %}

    <div class="z-carousel-container">
        <ul id="z-carousel-list">
            {% for slide in carousel_slide_list %}
            <li class="z-carousel-item fade">
                <img src="/media/{{slide.image}}" alt="{{slide.image}}" />
            </li>
            {% endfor %}
        </ul>

        <div class="text-center" id="z-dot-container"></div>

</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'dgallery/js/carousel.js' %}"></script>
{% endblock %}
